{%extends "Base.html"%}
{% block meta %}
    <link rel="stylesheet" type="text/css" href="/static/default/css/public.css">
    <link rel="stylesheet" type="text/css" href="/static/default/css/proList.css">

    <script src="/static/default/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/default/js/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/default/js/pro.js" type="text/javascript" charset="utf-8"></script>

    
{% endblock %}

{% block body%}
		<div class="banner">
			<a href="#"><img src="/static/images/ic_p9.jpg" ></a>
		</div>
         <hr class="hr_3">

		<div class="address">
				<div class="wrapper clearfix">
					<a href="#"><font size="3.5">所有商品</font></a>
					<span>/</span>
					<a href="/goodsIssue/release/"><font size="3.5">发布新品</font></a>
					<span>/</span>
				</div>
		</div>
        <form class="form-inline" action="/goodsIssue/search/" style="margin-left:75%;margin-top:-42px" method="post">
            <div class="form-group">
            <font size="4">商品搜索：</font>
            <input type="text" class="form-control" name="keywords" id="issueSearcher" placeholder="如：羽毛球拍">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>


		<ul class="proList wrapper clearfix">
			{% for item in allgoods %}
			<li>
				<a href="{{item.id}}">
					<dl>
						<dt><img src="{{item.photo.url}}"></dt>
						<dd>{{item.title}}</dd>
						<dd>￥{{item.price }}</dd>
					</dl>
				</a>
            </li>
            {% endfor %}
		</ul>
		
		
		<!--返回顶部-->
		<div class="gotop">
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="/static/images/gt4.png"></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
		</div>
        <div class="msk"></div>
{% endblock %}


