{% extends "Base.html"%}

{% block body %}
  <div class="wrap">
    <div class="container">
        <h1>注册</h1>
        <form method="post" action="/account/register">
          <div style="text-align:center ;color:#fff">
          <p>邮箱:{{ regform.email }}
          {% for i in errorem%}{{i}}{% endfor %}
          </p>
      
          <p>密码:{{ regform.password }}
          </P>
          
          <p>确认密码:{{ regform.password2 }}
          {% for i in errorpwd%}{{i}}{% endfor %}
          </P>
          
          <p>用户名:{{ regform.name }}
          {% for i in errornm%}{{i}}{% endfor %} 
          </P>
          
          <p>手机:{{ regform.phone }}
          {% for i in errortel%}{{i}}{% endfor %}
          </P>
          
          <p>学号:{{ regform.studentid }}
          {% for i in errorid%}{{i}}{% endfor %}
          </P>
          <p>住址:{{ regform.address }}
          </P>
            <!--<input type="text" name="name" placeholder="用户名"/>
            <input type="password" name="password" placeholder="密码" />
            <input type="password" name="password2" placeholder="确认密码" />
            <input type="int" name="phone" placeholder="手机号码"/>
            <input type="text" name="adress" placeholder="住址" />-->
            <p>&nbsp&nbsp
            <input type="submit" value="Sign up"/>
            </p>
            </div>
            <p class="change_link" align="center">
                <span class="text">已经注册了?</span>
                <a href="/" class="to_login"> 去登录</a>
            </p>
        </form>
    </div>
    <div style="text-align:center;color:#dbdbdb">2018 &copy;Powered By Django</div>
    <div style="text-align:center;color:#dbdbdb">
  Email:juewangyashuabing@sjtu.edu.cn
    </div>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock %}


