<!DOCTYPE html>
<html lang="zh-CN">
<head>
{% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Bootstrap-->
  <link href="../static/default/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/default/bootstrap/css/index.css">
  <link rel="stylesheet" href="../static/default/bootstrap/css/bootstrap-theme.min.css">
  <script src="../static/default/js/jquery-1.12.4.min.js" ></script>
  <script src="../static/default/bootstrap/js/bootstrap-3.3.7.min.js" ></script>
{% endblock %}
<title>上海交大宿舍二手交易网站 {% block title %}{% endblock %}</title>
</head>
<body>

<!--Navagator bar-->
{% block nav %}
<div class="navbar-fixed-top top" role="navigation" id="menu-nav">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="sr-only"></span> <span class="icon-bar"> </span> <span
                class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>SJTU二手交易</b></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">买家入口<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="http://127.0.0.1:8000/goodsIssue/market/">浏览市场</a></li>
                    <li><a href="http://127.0.0.1:8000/goodsIssue/buyhis/">购物记录</a></li>    <!-- 未实现 --> 
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">卖家入口<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="../goodsIssue/issue">交易管理</a></li>               <!-- 未实现 --> 
                    <li><a href="http://127.0.0.1:8000/goodsIssue/release/">上架新品</a></li>
                </ul>
            <!-- </li>
            <li><a href="resouces.html">消息中心</a>
            </li> -->
        </ul>
        {% if request.session.islogin %}
            <form class="nav-right">
            <span style="color:#fff">您好：{{ request.session.user_info.name }}</span>
            <a class="btn btn-success" href="http://127.0.0.1:8000/account/logout/">退出</a>
            </form>
        {% else %}
            <div class="nav-right">
                <span style="color:#fff">游客您好</span>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-default btn-cricle btn_login" sytle = "position: -absolute;"data-toggle="modal" data-target="#loginModal">表面登录</button>
                <!-- 临时用于注册和登录的连接 -->
                <a href="http://127.0.0.1:8000/account/register/" class="btn btn-default btn-cricle btn_login" >注册</a>
                <a href="http://127.0.0.1:8000/account/login/" class="btn btn-default btn-cricle btn_login" >登录</a>
                <!--  -->
            </div>        
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

{% block body %}
        <h1>index</h1>
        {{ now }}
{% endblock %}

{% block foot %}
<footer id="footer" >
    <hr>
    <p align="middle">2018 &copy;  <a href="{{ web_url }}" >{{ web_name }}</a> Powered By Django
	<br/>
	Email:juewangyashuabing@sjtu.edu.cn
    </p>
</footer>
{% endblock %}

</body>
</html>