{% extends "Base.html" %}
{% block body %}

<div class="wrap">
    <div class="container">
        <h1>上架新品</h1>
        <form action = "." method = "post" enctype="multipart/form-data">
            <h2>&nbsp&nbsp</h2>
            <input type="text" name="title" placeholder="标题"/>
            <h2>&nbsp&nbsp</h2>
            <input type="text" name="detail" placeholder="描述" />
            <h2>&nbsp&nbsp</h2>
            <input type="number" name="price" placeholder="价格" />
            <h2>&nbsp&nbsp</h2>
            <input type="file" name="photo" placeholder="图片" />  
            <h2>&nbsp&nbsp</h2>
            <input type="submit" value="发 布！">

        </form>
    </div>
    <div style="text-align:center;color:#dbdbdb">2018 &copy;Powered By Django</div>
    <div style="text-align:center;color:#dbdbdb">
  Email:juewangyashuabing@sjtu.edu.cn
    </div>
<ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>

{% endblock %}