{% extends "Base.html" %}

{% block nav %}

<p><a href="http://127.0.0.1:8000/">返回首页</a></p>
<strong>交易管理</strong>
<br><br><br><br>

{% endblock %}

{% block body %}
<div>
<strong>销售中...</strong>
{% for item in on_sale %}
     <div class="list-group-item item_article">
        <div class="row">
            <div class="div_center col-xs-9">
                <div class="list-group-item-heading div_article_title">
                    <strong>
                        <a href="/trade/detail/{{item.id}}">{{item.title}}</a>
                    </strong>
                </div>
            </div>
            <!-- 右侧图片，信息 -->
            <div class="col-xs-3 div_right_info">
                <a href="/trade/detail/{{item.id}}"><img class="iv_article img-rounded" src="{{item.photo.url}}" ></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br><br><br>

<div>
<strong>交易中...</strong>
{% for item in wait_ans %}
     <div class="list-group-item item_article">
        <div class="row">
            <div class="div_center col-xs-9">
                <div class="list-group-item-heading div_article_title">
                    <strong>
                        <a href="/trade/detail/{{item.id}}">{{item.title}}</a>
                    </strong>
                    <form method ="post" action = "/trade/confirmation">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <button type="submit" class="btn btn-success" > 确认完成交易 </button>
                    </form>
                </div>
            </div>
            <!-- 右侧图片，信息 -->
            <div class="col-xs-3 div_right_info">
                <a href="/trade/detail/{{item.id}}"><img class="iv_article img-rounded" src="{{item.photo.url}}" ></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br><br><br>

<div>
<strong>已售出...</strong>
{% for item in sold %}
     <div class="list-group-item item_article">
        <div class="row">
            <div class="div_center col-xs-9">
                <div class="list-group-item-heading div_article_title">
                    <strong>
                        <a href="/trade/detail/{{item.id}}">{{item.title}}</a>
                    </strong>
                </div>
            </div>
            <!-- 右侧图片，信息 -->
            <div class="col-xs-3 div_right_info">
                <a href="/trade/detail/{{item.id}}"><img class="iv_article img-rounded" src="{{item.photo.url}}" ></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}